<div class="sidebar">
	<div class="box first">
		<ul>
			<!-- <li><a href=".">
				<img src="/resources/images/glyphicons/glyphicons_020_home.png">
				Home
			</a></li>
			 -->
			<li><a href="/tutoring">
				<img src="/resources/images/glyphicons/glyphicons_071_book.png">
				Tutoring</a>
				<ul>
					<li><a href="/tutoring/locations.html">Locations</a></li>
					<li><a href="/tutoring/register.html">Register</a></li>
				</ul>
			<li><a href="/projects">
				<img src="/resources/images/glyphicons/glyphicons_370_globe_af.png">
				Projects
				</a>
				<ul>
					<!-- <li><a href="tutoring">Tutoring</a></li> -->
					<li><a href="/projects/book.html">Children's Book</a></li>
					<li><a href="/projects/bookdrive.html">AP/SAT Book Drive</a></li>
					<li><a href="/projects/recquest.html">RecQuest</a></li>
				</ul>
			</li>
			<li><a href="/about">
				<img src="/resources/images/glyphicons/glyphicons_043_group.png">
				About
				</a>
				<ul>
					<li><a href="/about/mission.html">Mission</a></li>
					<li><a href="/about/directors.html">Directors</a></li>
					<li><a href="/about/team.html">Team</a></li>
					<li><a href="/about/press.html">Press</a></li>
				</ul>
			</li>
			<li><a href="/donate.html">
				<!-- question to discuss: which one is more appropriate? the heart or the dollar sign -->
				<img src="/resources/images/glyphicons/glyphicons_012_heart.png">
				Donate
			</a></li>
		</ul>
	</div>

	<div class="box">
		<ul>
			<li><a href="https://www.facebook.com/pages/GIVE-Growth-and-Inspiration-through-Volunteering-and-Education/104842809592156">
				<img src="/resources/images/glyphicons/glyphicons_social_30_facebook.png">
				Facebook
			</a></li>
			<li><a href="https://twitter.com/giveyouth">
				<img src="/resources/images/glyphicons/glyphicons_social_31_twitter.png">
				Twitter
			</a></li>
			<li><a href="/contact.html">
				<img src="/resources/images/glyphicons/glyphicons_010_envelope.png">
				Contact
			</a></li>
			<li>
				<img src="/resources/images/glyphicons/glyphicons_442_earphone.png">
				(703) 587-7104
			</li>
		</ul>
	</div>
</div>