<!doctype html>
<html>
	<head>
		<title>{{ page.title }} - GIVE</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<!-- <link rel="stylesheet" href="style.css"> -->
		<script src="/resources/main.js"></script>
		<link rel="stylesheet/less" type="text/css" href="/resources/style.less" />
		<script src="/resources/less-1.4.1.min.js"></script>
	</head>
	<body>
		{% include header.html %}
		<div class="main">
			{% include sidebar.html %}
			<div class="content">
				{{ content }}
			</div>
		</div>
	</body>
</html>

